{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/table-styles.css') }}">
{% endblock %}

{% block body %}
    <div id="showcase">
        <h1>Dashboard</h1>
        <p>Positions for the current week</p>
    </div>

    <h4>Closed Positions</h4>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th class="col-1">Entry Time</th>
                <th class="col-2">Position</th>
                <th class="col-3">Symbol</th>
                <th class="col-4">Type</th>
                <th class="col-5">Volume</th>
                <th class="col-6">Entry</th>
                <th class="col-7">Stop</th>
                <th class="col-8">Take Profit</th>
                <th class="col-9">Exit Time</th>
                <th class="col-10">Exit</th>
                <th class="col-11">Comm</th>
                <th class="col-12">Swap</th>
                <th class="col-13">Profit</th>
                <th class="col-14">System</th>
                <th class="col-15">Strategy</th>
                <th class="col-16">Asset Class</th>
                <th class="col-17">Grade</th>
                <th class="col-18">Week</th>
            </tr>
            </thead>
            <tbody>
            {% for position in positions %}
                <tr>
                    <td class="col-1">{{ position.entryTime ? position.entryTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="col-2">{{ position.position }}</td>
                    <td class="col-3">{{ position.symbol }}</td>
                    <td class="col-4">{{ position.type }}</td>
                    <td class="col-5">{{ position.volume }}</td>
                    <td class="col-6">{{ position.entry }}</td>
                    <td class="col-7">{{ position.stopLoss }}</td>
                    <td class="col-8">{{ position.takeProfit }}</td>
                    <td class="col-9">{{ position.exitTime ? position.exitTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="col-10">{{ position.exit }}</td>
                    <td class="col-11">{{ position.commission }}</td>
                    <td class="col-12">{{ position.swap }}</td>
                    <td class="col-13">{{ position.profit }}</td>
                    <td class="col-14">{{ position.system }}</td>
                    <td class="col-15">{{ position.strategy }}</td>
                    <td class="col-16">{{ position.assetClass }}</td>
                    <td class="col-17">{{ position.grade }}</td>
                    <td class="col-18">{{ position.week }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h4>Open Positions</h4>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th class="col-1">Entry Time</th>
                <th class="col-2">Position</th>
                <th class="col-3">Symbol</th>
                <th class="col-4">Type</th>
                <th class="col-5">Volume</th>
                <th class="col-6">Entry</th>
                <th class="col-7">Stop</th>
                <th class="col-8">Take Profit</th>
                <th class="col-9">Exit Time</th>
                <th class="col-10">Exit</th>
                <th class="col-11">Comm</th>
                <th class="col-12">Swap</th>
                <th class="col-13">Profit</th>
                <th class="col-14">System</th>
                <th class="col-15">Strategy</th>
                <th class="col-16">Asset Class</th>
                <th class="col-17">Grade</th>
                <th class="col-18">Week</th>
            </tr>
            </thead>
            <tbody>
            {% for position in openPositions %}
                <tr>
                    <td class="col-1">{{ position.entryTime ? position.entryTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="col-2">{{ position.position }}</td>
                    <td class="col-3">{{ position.symbol }}</td>
                    <td class="col-4">{{ position.type }}</td>
                    <td class="col-5">{{ position.volume }}</td>
                    <td class="col-6">{{ position.entry }}</td>
                    <td class="col-7">{{ position.stopLoss }}</td>
                    <td class="col-8">{{ position.takeProfit }}</td>
                    <td class="col-9">{{ position.exitTime ? position.exitTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="col-10">{{ position.exit }}</td>
                    <td class="col-11">{{ position.commission }}</td>
                    <td class="col-12">{{ position.swap }}</td>
                    <td class="col-13">{{ position.profit }}</td>
                    <td class="col-14">{{ position.system }}</td>
                    <td class="col-15">{{ position.strategy }}</td>
                    <td class="col-16">{{ position.assetClass }}</td>
                    <td class="col-17">{{ position.grade }}</td>
                    <td class="col-18">{{ position.week }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
