{% extends 'base.html.twig' %}

{% block title %}Positions{% endblock %}

{% block body %}
    <div id="showcase">
        <h1>Positions</h1>
        <p>Review all of the positions.</p>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Type</th>
            <th>Volume</th>
            <th>Entry</th>
            <th>Stop</th>
        </tr>
        </thead>
        <tbody>
        {% for id, position in positions %}
            <tr>
                <td>{{ position.symbol }}</td>
                <td>{{ position.type }}</td>
                <td>{{ position.volume }}</td>
                <td>{{ position.entry }}</td>
                <td>{{ position.stop }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
