<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Trade Logix{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('js/bootstrap.min.js') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_homepage') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reviews
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_review_showplaybookform') }}">Write Review</a>
                        <a class="dropdown-item" href="{{ path('app_review_showplaybook') }}">Past Reviews</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Playbooks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_home_showplaybookform') }}">Write Playbook</a>
                        <a class="dropdown-item" href="{{ path( 'app_show_all') }}">Past Playbooks</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Positions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_position_add') }}">Add</a>
                        <a class="dropdown-item" href="{{ path( 'app_position_show_all') }}">Positions</a>
                    </div>
                </li>
            </ul>
        </nav>

        {% block body %}{% endblock %}

        <script src="{{ asset('js/http_code.jquery.com_jquery-3.2.1.slim.js') }}"></script>
        <script src="{{ asset('js/http_cdnjs.cloudflare.com_ajax_libs_popper.js_1.11.0_umd_popper.js') }}"></script>
        <script src="{{ asset('js/http_maxcdn.bootstrapcdn.com_bootstrap_4.0.0_js_bootstrap.js') }}"></script>
    </body>
</html>
